@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}

@font-face {
  font-family: "Flappy";
  src: url("./fonts/FB.eot");
  src: url("./fonts/FB.eot?#iefix") format("embedded-opentype"),
    url("./fonts/FB.woff") format("woff"),
    url("./fonts/FB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
