@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  overflow: hidden;
}

.sliding-background {
  background: "hotpink";
  height: 500px;
  width: 5076px;
}
